#dump file when crash
*.stackdump

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/*
Win32/*
CruiseControl.VC.db

CMakeFiles/
*.opendb
*.log
.vs/
*.vcxproj
*.filters
*.sln
*.tlog
*.pdb
*.user
*.cache
CMakeCache.txt
cmake_install.cmake
test/Output.txt
*.patch
test/resource/test4/ExpectedOutput4.txt
test/resource/test4/Input4.txt
test/resource/Output.txt
*.cmake
test/resource/Input.txt
DartConfiguration.tcl
